.sidebar {
    width: 250px;
    background-color: white;
    box-shadow: var(--shadow);
    min-height: calc(100vh - 16%);
    position: fixed;
    left: 0;
    padding: 20px 0;
    transition: all 0.3s ease;
    margin:10px;
    font-weight:bold;

    
}

.sidebar-links {
    list-style: none;
    padding: 0 15px;
}

.sidebar-links li {
    margin-bottom:10px;
}

.sidebar-links a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    color: rgb(65, 64, 64);
    border-radius: var(--border-radius);
    transition: all 0.3s;
    font-size: 20px;
}

.sidebar-links a:hover, .sidebar-links a.active {
    background-color: rgb(212, 212, 247);
    border-radius:8px;
    color: rgb(60, 144, 212);
}

.sidebar-links i {
    margin-right: 10px;
    font-size: 23px;
}
.sidebar-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    font-size: 14px;
    color: red;
}